<div class="bal_popup" id="auth">
    <button class="bal_popup__cross" data-bal-action="close" title="Закрыть"></button>
    <div class="bal_title h2">Вход в систему</div>
    <div class="registration_form">
        <div class="RF_item email">
            <label for="auth_email">Эл. почта:</label>
            <input type="text" class="bal_input" id="auth_email" title="Введите адрес эл. почты в формате name@site.ru" value="vvp@mail.ru"/>
        </div>
        <div class="RF_item password">
            <label for="auth_password">Пароль:</label>
            <input type="password" class="bal_input" id="auth_password" title="Введите пароль" value="1111"/>
        </div>
        <div class="RF_item alert">
            <div class="bal_accent small red">Неправильный логин или пароль.</div>
        </div>
        <div class="RF_item button">
            <button class="bal_button big green" id="auth_submit">Войти</button>
        </div>
    </div>
</div>